.sign-in-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-container {
  width: 100%;
  max-width: 450px;
  padding: 35px;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in-deatils-container {
  margin: 10px;
}

.sign-in-label-email {
  padding-right: 78px;
}
.sign-in-label-password {
  padding-right: 50px;
}
.sign-in-input {
  padding: 8px;
  border-radius: 10px;
}
.sign-in-button {
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
}
.sign-in-button-container {
  margin: 10px;
}
.sign-in-button:hover {
  background-color: black;
  color: white;
}
