.welcome-main-continer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.welcome-card-container{
    background-color: #e8e8e8;
    padding: 60px;
    border-radius: 30px;
    text-align: center;
}
.welcome-heading{
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.vegetable-tittle{
    color: rgb(25,139,93);
    font-family: "Rockwell";
    
}